# Environnement virtuel
.env/
.venv/
env/
venv/

# Logs et fichiers temporaires
*.log
*.tmp

# Fichiers python
__pycache__/
*.py[cod]
*$py.class

# Fichiers avec des informations confidentielles (mots de passe, clé API, etc.)
secrets.txt